In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split

In [5]:
%%sql
select * FROM `LPL Players`
UNION
select * from `LCK Players`
UNION
select * from `LCS Players`
UNION
select * from `LEC Players`;

,Player,Team,Pos,GP,W%,CTR%,K,D,A,KDA,...,CS%P15,DPM,DMG%,D%P15,EGPM,GOLD%,STL,WPM,CWPM,WCPM
0,369,Top Esports,Top,16,56%,63%,46,39,83,3.3,...,NaN,598,22.7%,NaN,262,21.9%,NaN,0.33,0.20,0.19
1,Able,Oh My God,ADC,4,25%,25%,10,5,15,5.0,...,NaN,644,25.6%,NaN,313,28.5%,NaN,0.50,0.06,0.70
2,Ahn,Invictus Gaming,ADC,5,40%,80%,20,14,14,2.4,...,NaN,551,25.4%,NaN,326,29.2%,NaN,0.39,0.07,0.39
3,Aki,Ninjas in Pyjamas,Jungle,18,50%,44%,38,41,119,3.8,...,NaN,294,11.8%,NaN,200,17.0%,NaN,0.43,0.29,0.41
4,Angel,Oh My God,Middle,4,25%,50%,10,10,12,2.2,...,NaN,674,27.9%,NaN,244,22.7%,NaN,0.51,0.28,0.16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
146,Trymbi,Team Heretics,Support,8,38%,88%,3,24,58,2.5,...,2.5%,118,6.2%,5.7%,101,9.2%,0.0,1.82,0.25,0.45
147,Vetheo,Team Vitality,Middle,12,50%,33%,61,43,88,3.5,...,29.6%,684,22.9%,22.4%,306,24.7%,0.0,0.52,0.23,0.37
148,Wunder,Team Heretics,Top,8,38%,50%,18,19,33,2.7,...,22.8%,514,26.0%,23.4%,253,22.8%,0.0,0.49,0.12,0.15
149,Yike,G2 Esports,Jungle,12,83%,25%,40,37,131,4.6,...,14.2%,345,13.2%,12.2%,229,17.7%,3.0,0.34,0.25,0.30
150,Zwyroo,Team Heretics,Middle,8,38%,13%,30,13,32,4.8,...,31.0%,592,30.6%,32.5%,299,27.2%,0.0,0.55,0.16,0.35

Can we do some cluster analysis or some regression analysis on this.

In [6]:
df_sql.head()

,Player,Team,Pos,GP,W%,CTR%,K,D,A,KDA,...,CS%P15,DPM,DMG%,D%P15,EGPM,GOLD%,STL,WPM,CWPM,WCPM
0,369,Top Esports,Top,16,56%,63%,46,39,83,3.3,...,NaN,598,22.7%,NaN,262,21.9%,NaN,0.33,0.20,0.19
1,Able,Oh My God,ADC,4,25%,25%,10,5,15,5.0,...,NaN,644,25.6%,NaN,313,28.5%,NaN,0.50,0.06,0.70
2,Ahn,Invictus Gaming,ADC,5,40%,80%,20,14,14,2.4,...,NaN,551,25.4%,NaN,326,29.2%,NaN,0.39,0.07,0.39
3,Aki,Ninjas in Pyjamas,Jungle,18,50%,44%,38,41,119,3.8,...,NaN,294,11.8%,NaN,200,17.0%,NaN,0.43,0.29,0.41
4,Angel,Oh My God,Middle,4,25%,50%,10,10,12,2.2,...,NaN,674,27.9%,NaN,244,22.7%,NaN,0.51,0.28,0.16